[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/jinja
	url = https://github.com/mitsuhiko/vim-jinja
[submodule "vim/bundle/vim-numbertoggle"]
	path = vim/bundle/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/toml"]
	path = vim/bundle/toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/clang-format"]
	path = vim/bundle/clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "vim/bundle/terraform"]
	path = vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/bundle/async.vim"]
	path = vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/bundle/vim-lsp"]
	path = vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/bundle/asyncomplete.vim"]
	path = vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/bundle/asyncomplete-lsp.vim"]
	path = vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
